<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="home()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img [src]="url" />
    <ion-input color="danger" type="file" (change)="onFileChange($event)"> </ion-input>
  </div>
  <div class="data">
    <div>Nombre: {{userProfile.name}}</div>
    <div>Apellido: {{userProfile.LastName}}</div>
    <div>Email:</div>
  </div>
  <p class="data">{{userProfile.email}}</p>
</ion-content>
