@font-face{
  font-family: "fuentePersonal";
  src: url('../../../assets/fonts/work_Sans/WorkSans-VariableFont_wght.ttf');
}
ion-content {
  --background: var(--ion-color-primary-tint);
  color: white;
  ion-input {
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
  }
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 26px;
      color: white;
      margin-bottom: 10%;
    }

    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }

  .data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: cursive;
    font-size: 30px;
    color: white;
    margin-top: 15%;
    padding-left: 30px;
    padding-right: 30px;
  }
  div {
    margin-bottom: 5%;
    font-family: "fuentePersonal";
    font-weight: bold;
    align-items: center;
    text-transform: capitalize;
  }
  p {
    align-items: center;
  }
}
