<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="closeSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout</ion-button
      >
    </ion-buttons>
    <ion-title size="large">Movies</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="profileView()">
        <ion-icon name="person-outline"></ion-icon>
        Profile</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="term"
    (ionChange)="searcheChanged($event)"
  ></ion-searchbar>
  <ion-item>
    <ion-label>Tipo de Busqueda</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searcheChanged($event)">
      <ion-select-option selected="true" value="all">All</ion-select-option>
      <ion-select-option value="movie">Movies</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episodes</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item
      button
      *ngFor="let mov of (results |async)"
      [routerLink]="['/', 'mov', mov.imdbID]"
    >
      <ion-avatar slot="start">
        <img
          src="{{mov.Poster}}"
          alt="{{mov.Title}}"
          *ngIf="mov.Poster !== 'N/A'"
        />
      </ion-avatar>
      <ion-label text-wrap>
        <h3>{{mov.Title}}</h3>
        {{mov.Year}}
      </ion-label>
      <ion-icon
        slot="end"
        *ngIf="mov.Type === 'movie'"
        name="videocam"
      ></ion-icon>
      <ion-icon slot="end" *ngIf="mov.Type === 'serie'" name="tv"></ion-icon>
      <ion-icon
        slot="end"
        *ngIf="mov.Type === 'episode'"
        name="tablet-port"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
